<!doctype html>
<title>Tweetbot</title>
  {% for tweet in tweets %}
    <div id='{{tweet._id}}' class='tweet'>
      <p>{{tweet.text}}</p>
    </div>
{% else %}
  <p> No tweets brah</p>
{% endfor %}

Tweet: <input id='tweet-text' type='text' name='tweet'>
<button id='add-tweet'>Add!</button>

<script type='text/javascript' src='http://code.jquery.com/jquery-2.1.0.min.js'></script>
<script type='text/javascript'>
  $('#add-tweet').click(function () {
    $.ajax({
      url: '/tweet',
      type: 'POST',
      data: {tweet: $('#tweet-text').val()},
      success: function(res) {
        location.reload();
      }
    });
  });

  $('.tweet').click(function (e) {
    $.ajax({
      url: '/tweet/' + this.id,
      type: 'DELETE',
      success: function (res) {
        location.reload();
      }
    });
  });
</script>
